.logo {
  display: flex;
  align-items: center;
  gap: 0px;
  font-weight: 600;
}

.logo img {
  margin-right: 8px;
}

.small {
  font-size: 32px;
}

.small img {
  width: 40px;
  height: 40px;
}

.large {
  font-size: 48px;
}

.large img {
  width: 60px;
  height: 60px;
}

.highlight {
  color: var(--color-primary);
}
