.section {
  padding: 6rem 12em;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dark {
  background: var(--gray-alpha-100);
  border-top: 1px solid var(--gray-alpha-200);
}

.light {
  border-top: 1px solid var(--gray-alpha-200);
}

@media (max-width: 1200px) {
  .section {
    padding: 4rem 2rem;
  }
}
