.section {
  padding: var(--section-padding-desktop);
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid var(--gray-alpha-200);
}

.dark {
  background: var(--gray-alpha-100);
}

@media (max-width: 1200px) {
  .section {
    padding: var(--section-padding-mobile);
  }
}
